[Unit]
Description=Lawzy service
After=network.target

[Service]
User=lawzy
Group=www-data
WorkingDirectory=/home/lawzy/lawzy
Environment="PATH=/home/lawzy/lawzy/venv/bin"
ExecStart=/home/lawzy/lawzy/venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
